@media only screen and (min-width: 320px) {

/* ******************************
        list User
   ****************************** */
.list_userWrapper {
  background-color: var(--bg-border);
  background-size: cover;
}


   .tableau_listUser {
    color: var(--first-color);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    padding: 15px 30px;
}

div.dt-container div.dt-layout-row.dt-layout-table {
  display: block;
  padding: 20px 50px;

}

}