@media only screen and (min-width: 320px) {

.register_user {
    
    margin-top: 110px;
    background-image: var(--bg-page);
    background-size: cover;
    
}

.register_card {
    padding: 10px 0px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_register {
    width: 90%;
    max-width: 655px;
    background-color: var(--bg-card);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_register h1 {
    color: var(--first-color);
    padding: 70px 0px 20px 0;
    font-weight: var(--Regular);
    font-size: var(--title-size);
}

.register_input{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px 0;
}

.register_input label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--first-color);
    pointer-events: none; /*pas de surlignage possible */
    transition: .5s;
}

.register_input i {
    color: var(--first-color);
    position: absolute;
    right: 20px;
    top: 30%;
}

.register_input input{
    width: 95%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: var(--bg-border);
    border-radius: 14px;
    border: none;
    outline: none;

}

.register_input input:focus~label,
.register_input input:valid~label{ /*permettra un déplacement du champ vers le haut*/
    top: -10px;
}

.register_input input:focus~i{ /*permettra un déplacement du champ vers le haut*/
    color: var(--second-color-yellow);
    transition: all 0.5s;
}

.register_submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.register_buttonSubmit {
    width: 250px;
    height: 50px;
    color: var(--first-color);
    background-color: transparent;
    border: solid 1px var(--first-color);
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: var(--Medium);
    cursor: pointer;
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media a {
    color: var(--first-color);
    font-size: 3em;
    padding: 20px 20px;
}

.have_account {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}

.have_account p {
    color: var(--first-color);
    font-size: 1em;
    line-height: 20px;
}

.have_account a:hover i {
    transform: translateX(5px);
    transition: all 0.5s;
}


}

@media only screen and (min-width: 1024px) {


.card_register {
    height: 660px;
}
    
.register_buttonSubmit:hover {
    box-shadow: inset 250px 0 0 0 var(--second-color-yellow);
    color: black;
    border-color: var(--second-color-yellow);
    transition: all 1.5s;
}
    
.social_media a:hover {
    color: var(--second-color-yellow);
    transform: scale(1.1);
    transition: all 0.5s;
}
      
}