@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
    scroll-behavior: smooth;
}


/* ******************************
        Variable CSS
   ****************************** */

:root {

    --first-color: hsl(0, 0%, 100%);
    --first-color-rose: hsl(306, 59%, 63%);
    --second-color-rose: hsl(306, 58%, 69%);
    --first-color-yellow: hsl(47, 100%, 49%);
    --second-color-yellow: hsl(47, 100%, 52%);
    --bg-border: hsl(291, 16%, 31%);
    --bg-header-footer: hsl(269, 89%, 10%);
    --bg-navBar: hsl(269, 92%, 10%, 0.75);
    --bg-form: hsl(291, 61%, 13%);
    --bg-card: rgba(222, 60, 236, 0.19);

    --ExtraLight: 200;
    --Light: 300;
    --Regular: 400;
    --Medium: 500;
    --SemiBold: 600;
    --Bold: 700;
    --ExtraBold: 800;
    --Black: 900;

    --title-size: 2.3em;

}

@media only screen and (min-width: 320px) {

    h1 {
        color: rgb(0, 122, 156);
    }


/* ******************************
        NAV BAR
   ****************************** */


.nav_mobile {
    background-color: var(--bg-header-footer);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.nav_title a {
    display: flex;
    align-items: end;
    gap: 5px;
    text-decoration: none;
}

nav h1 {
    color: var(--first-color);
    font-weight: 300;
}

.nav_avatar {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    object-fit: cover;
    color: var(--first-color);
}

.avatar_user a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_burger {
    display: flex;
    flex-direction: column;
    width: 30px;
    z-index: 2;
}

.nav_liste {
    position: absolute;
    left: -100%;
    top: 0px;
    height: 100vh;
    width: 75%;
    background-color: var(--bg-navBar);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.nav_liste li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 36px;
    font-weight: bold;
    z-index: 1;
}

.nav_liste li a {
    color: var(--first-color);
    text-decoration: none;
}


#icons {
    display: block;
    font-size: 2em;
    font-weight: bold;
    z-index: 5;
    cursor: pointer;
}
#icons:before {
    content: "\2630";
    color: var(--first-color);
    font-size: 1em;
}

.nav_burger.active .nav_liste{
    left: 0;
    z-index: 5;
}

.nav_burger.active #icons:before {
    content: "\2715";
}

.nav_logo {
    height: 20vh;
    width: 40vw;
}

.img_topMobile img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ******************************
        Login
   ****************************** */

.session_info {
    padding-top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_session {
    display: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--first-color);
    transition: 0.5s;
}

.session_success {
    display: block;
    background: rgb(132,255,130);
    background: linear-gradient(90deg, rgba(132, 255, 130, 0.685) 0%, rgba(25,69,24,1) 50%);
}

.session_error {
    display: block;
    background: rgb(255,3,3);
    background: linear-gradient(90deg, rgba(255,3,3,1) 0%, rgba(65,13,13,1) 50%);
}


.login_User {
    
    background-image: url('../img/bg_section.webp');
    
}

.box_Card {
    padding: 10px 0px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_Login {
    width: 90%;
    background-color: var(--bg-card);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_Login h1 {
    color: var(--first-color);
    padding: 70px 0px 20px 0;
    font-weight: var(--Regular);
    font-size: var(--title-size);
}

.input-group{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--first-color);
    pointer-events: none; /*pas de surlignage possible */
    transition: .5s;
}

.input-group i {
    color: var(--first-color);
    position: absolute;
    right: 20px;
    top: 30%;
}

.input-group input{
    width: 95%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: var(--bg-border);
    border-radius: 14px;
    border: none;
    outline: none;

}

.input-group input:focus~label,
.input-group input:valid~label{ /*permettra un déplacement du champ vers le haut*/
    top: -10px;

}

.button_submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot_password {
    color: var(--first-color);
    text-decoration: underline;
}

.button_submit p {
    padding-bottom: 40px;
}

.button__submit {
    width: 250px;
    height: 50px;
    color: var(--first-color);
    background-color: transparent;
    border: solid 1px var(--first-color);
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: var(--Medium);
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media a {
    color: var(--first-color);
    font-size: 3em;
    padding: 20px 20px;
}

.no_account {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}

.no_account p {
    color: var(--first-color);
    font-size: 1em;
    line-height: 20px;
}

.rose_color {
    color: var(--first-color-rose);
    text-decoration: underline;
}

.info_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.info_contact p {
    color: var(--first-color);
    text-align: center;
    font-size: 1.3em;
    font-weight: var(--Bold);
    line-height: 30px;
    padding: 20px 0;
}


/* ******************************
        Register
   ****************************** */
.box_Card {
    padding: 10px 0px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_register {
    width: 90%;
    background-color: var(--bg-card);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_register h1 {
    color: var(--first-color);
    padding: 70px 0px 20px 0;
    font-weight: var(--Regular);
    font-size: var(--title-size);
}

.register_input{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px 0;
}

.register_input label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--first-color);
    pointer-events: none; /*pas de surlignage possible */
    transition: .5s;
}

.register_input i {
    color: var(--first-color);
    position: absolute;
    right: 20px;
    top: 30%;
}

.register_input input{
    width: 95%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: var(--bg-border);
    border-radius: 14px;
    border: none;
    outline: none;

}

.register_file {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    padding-bottom: 25px;
}

.register_input input:focus~label,
.register_input input:valid~label{ /*permettra un déplacement du champ vers le haut*/
    top: -10px;
}

.white {
    color: var(--first-color);
}

/* ******************************
            HOME
   ****************************** */

.searchBar form {
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input::placeholder {
    font-weight: var(--ExtraLight);
    opacity: 1;
    color: var(--first-color);
  }

.research {
    padding: 0 15px;
    height: 35px;
    width: 70%;
    border-radius: 25px;
    background-color: var(--bg-border);
    border: none;
    color: #fff;
}

.searchBar button {
    font-size: 1em;
    background: none;
    border: none;
}

.fa-mobile {
    position: relative;
}

.fa-mobile i {
    position: absolute;
    top: -8px;
    right: 10px;
    color: var(--first-color);
}

.fa-mobile:before {
    display: none;
}

.fire_stat {
    background-color: aqua;
    padding: 0 3px 0 15px;
    background-image: linear-gradient(to bottom, #6c35b7, #6130a4, #562a92, #4b2580, #41206f, #391d61, #311953, #291645, #211336, #1a1028, #13091a, #050209);
}

.best_stat {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.best_stat i {
    font-size: 1.5em;
    padding: 0 10px 0 0;
    color: var(--second-color-yellow);
}

.best_stat p {
    font-size: 1.1em;
    font-weight: var(--Regular);
    color: var(--first-color);
    font-family: "Inter", sans-serif;
}

.fire_stat h1 {
    font-size: 2.1em;
    color: var(--first-color);
    padding: 20px 0;
    font-weight: var(--Bold);
}

.after_title {
    width: 20%;
    border: var(--second-color-yellow) 3px solid;
    margin-left: 10px;
    border-radius: 7px;
}

.after_titlePink {
    width: 20%;
    border: var(--second-color-rose) 3px solid;
    margin-left: 10px;
    border-radius: 7px;
}

/* FOND COULEUR  */
.wrapper_list {
background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='2000' preserveAspectRatio='none' viewBox='0 0 600 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1294%26quot%3b)' fill='none'%3e%3crect width='600' height='2000' x='0' y='0' fill='rgba(38%2c 8%2c 52%2c 1)'%3e%3c/rect%3e%3cpath d='M404.189%2c530.211C468.7%2c530.787%2c533.103%2c499.25%2c561.323%2c441.236C587.075%2c388.295%2c558.208%2c329.446%2c525.737%2c280.339C497.412%2c237.502%2c455.477%2c206.223%2c404.189%2c203.599C347.708%2c200.71%2c289.783%2c219.246%2c259.007%2c266.694C225.581%2c318.227%2c222.203%2c384.673%2c251.843%2c438.472C282.502%2c494.12%2c340.657%2c529.644%2c404.189%2c530.211' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M235.902%2c1615.391C259.23%2c1617.084%2c285.023%2c1611.08%2c296.544%2c1590.725C307.953%2c1570.568%2c298.829%2c1546.08%2c286.079%2c1526.743C274.78%2c1509.606%2c256.421%2c1499.331%2c235.902%2c1498.75C214.211%2c1498.136%2c191.146%2c1504.819%2c180.548%2c1523.755C170.128%2c1542.374%2c177.772%2c1564.641%2c188.804%2c1582.905C199.373%2c1600.402%2c215.515%2c1613.911%2c235.902%2c1615.391' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M452.95%2c1155.234C473.666%2c1156.18%2c495.445%2c1151.023%2c506.859%2c1133.709C519.348%2c1114.764%2c520.491%2c1089.791%2c508.989%2c1070.231C497.628%2c1050.911%2c475.332%2c1040.856%2c452.95%2c1042.029C432.423%2c1043.105%2c415.835%2c1057.439%2c406.236%2c1075.615C397.304%2c1092.528%2c397.265%2c1112.649%2c406.944%2c1129.146C416.506%2c1145.443%2c434.075%2c1154.372%2c452.95%2c1155.234' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M283.835%2c1409.823C313.931%2c1410.346%2c347.249%2c1407.615%2c363.447%2c1382.244C380.567%2c1355.428%2c375.878%2c1319.796%2c358.195%2c1293.348C342.26%2c1269.513%2c312.444%2c1261.286%2c283.835%2c1263.167C258.584%2c1264.827%2c238.382%2c1280.852%2c224.68%2c1302.127C209.392%2c1325.865%2c195.278%2c1354.812%2c208.871%2c1379.56C222.776%2c1404.875%2c254.957%2c1409.322%2c283.835%2c1409.823' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M579.195%2c1386.757C610.452%2c1387.974%2c643.422%2c1376.078%2c657.871%2c1348.334C671.58%2c1322.01%2c656.769%2c1292.392%2c641.637%2c1266.859C626.919%2c1242.026%2c608.005%2c1217.394%2c579.195%2c1215.58C547.616%2c1213.592%2c516.526%2c1230.205%2c501.467%2c1258.034C487.008%2c1284.754%2c494.757%2c1316.586%2c510.461%2c1342.593C525.548%2c1367.579%2c550.029%2c1385.621%2c579.195%2c1386.757' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M203.856%2c1106.79C235.109%2c1104.985%2c260.077%2c1082.551%2c274.283%2c1054.655C287.153%2c1029.382%2c284.873%2c999.967%2c270.793%2c975.348C256.601%2c950.533%2c232.414%2c932.793%2c203.856%2c931.51C172.921%2c930.121%2c142.523%2c942.879%2c125.625%2c968.828C107.067%2c997.326%2c101.001%2c1034.109%2c117.776%2c1063.692C134.741%2c1093.61%2c169.52%2c1108.773%2c203.856%2c1106.79' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M231.785%2c857.991C250.027%2c857.79%2c266.816%2c848.426%2c276.185%2c832.773C285.823%2c816.67%2c287.194%2c796.809%2c278.294%2c780.287C268.923%2c762.889%2c251.509%2c749.143%2c231.785%2c750.346C213.444%2c751.465%2c203.058%2c769.339%2c194.167%2c785.42C185.68%2c800.769%2c177.587%2c818.199%2c185.659%2c833.77C194.225%2c850.295%2c213.173%2c858.196%2c231.785%2c857.991' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M362.93%2c322.69C389.122%2c323.445%2c410.903%2c304.819%2c424.054%2c282.155C437.261%2c259.393%2c442.415%2c231.361%2c429.091%2c208.667C415.904%2c186.206%2c388.923%2c176.379%2c362.93%2c178.045C339.643%2c179.537%2c321.218%2c195.844%2c309.988%2c216.299C299.234%2c235.887%2c297.661%2c258.794%2c307.616%2c278.8C318.855%2c301.385%2c337.713%2c321.964%2c362.93%2c322.69' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M590.654%2c2138.119C633.963%2c2137.918%2c679.103%2c2128.701%2c702.997%2c2092.579C729.251%2c2052.889%2c734.158%2c1999.775%2c708.804%2c1959.504C684.714%2c1921.241%2c635.839%2c1912.5%2c590.654%2c1914.14C548.853%2c1915.657%2c508.926%2c1932.277%2c486.477%2c1967.571C462.23%2c2005.692%2c452.935%2c2055.078%2c476.486%2c2093.633C499.305%2c2130.99%2c546.879%2c2138.323%2c590.654%2c2138.119' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M234.147%2c2074.621C286.703%2c2074.913%2c345.92%2c2072.721%2c373.711%2c2028.113C402.577%2c1981.779%2c385.309%2c1923.297%2c357.8%2c1876.145C330.554%2c1829.443%2c288.186%2c1790.694%2c234.147%2c1788.887C177.194%2c1786.982%2c123.728%2c1817.985%2c95.287%2c1867.365C66.896%2c1916.658%2c65.583%2c1979.318%2c97.246%2c2026.576C126.098%2c2069.639%2c182.313%2c2074.333%2c234.147%2c2074.621' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M467.156%2c2040.429C505.841%2c2039.553%2c543.463%2c2025.332%2c564.434%2c1992.812C587.298%2c1957.356%2c595.555%2c1911.224%2c573.773%2c1875.093C552.523%2c1839.845%2c508.313%2c1831.143%2c467.156%2c1831.455C426.686%2c1831.762%2c384.971%2c1842.508%2c363.299%2c1876.687C340.204%2c1913.11%2c338.839%2c1960.975%2c361.939%2c1997.395C383.692%2c2031.691%2c426.553%2c2041.348%2c467.156%2c2040.429' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M221.116%2c1902.914C244.327%2c1902.663%2c264.257%2c1888.098%2c275.931%2c1868.035C287.682%2c1847.841%2c290.622%2c1823.229%2c279.411%2c1802.73C267.762%2c1781.429%2c245.374%2c1766.813%2c221.116%2c1767.806C198.235%2c1768.743%2c181.747%2c1787.216%2c170.542%2c1807.188C159.638%2c1826.623%2c153.797%2c1849.539%2c164.207%2c1869.243C175.243%2c1890.131%2c197.493%2c1903.169%2c221.116%2c1902.914' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M512.437%2c1064.88C571.631%2c1064.115%2c633.16%2c1048.638%2c664.122%2c998.181C696.316%2c945.716%2c691.233%2c878.43%2c659.046%2c825.961C628.278%2c775.804%2c571.275%2c750.241%2c512.437%2c750.914C454.842%2c751.573%2c402.275%2c780.545%2c371.527%2c829.251C338.372%2c881.77%2c321.93%2c948.886%2c353.807%2c1002.191C385.083%2c1054.491%2c451.504%2c1065.667%2c512.437%2c1064.88' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M162.754%2c1282.668C186.152%2c1282.124%2c207.626%2c1269.849%2c219.272%2c1249.548C230.861%2c1229.345%2c230.482%2c1204.705%2c219.151%2c1184.356C207.493%2c1163.421%2c186.691%2c1149.149%2c162.754%2c1148.054C136.743%2c1146.864%2c109.847%2c1156.306%2c96.653%2c1178.754C83.312%2c1201.452%2c87.359%2c1230.073%2c101.49%2c1252.288C114.603%2c1272.902%2c138.33%2c1283.236%2c162.754%2c1282.668' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M533.09%2c862.477C557.453%2c860.956%2c578.68%2c846.602%2c590.313%2c825.142C601.4%2c804.69%2c599.45%2c780.634%2c588.615%2c760.047C576.865%2c737.722%2c558.317%2c716.634%2c533.09%2c716.419C507.599%2c716.201%2c489.158%2c737.313%2c475.897%2c759.085C461.891%2c782.08%2c448.955%2c809.594%2c461.988%2c833.155C475.288%2c857.199%2c505.666%2c864.189%2c533.09%2c862.477' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M631.648%2c1927.24C682.108%2c1928.945%2c739.879%2c1926.799%2c766.075%2c1883.637C792.87%2c1839.487%2c772.358%2c1784.381%2c744.898%2c1740.641C719.494%2c1700.175%2c679.4%2c1671.128%2c631.648%2c1669.512C580.918%2c1667.796%2c529.822%2c1688.625%2c504.3%2c1732.501C478.654%2c1776.59%2c484.169%2c1832.367%2c512.085%2c1875.056C537.593%2c1914.063%2c585.068%2c1925.666%2c631.648%2c1927.24' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M564.131%2c122.188C595.689%2c124.52%2c629.186%2c112.094%2c644.147%2c84.21C658.543%2c57.378%2c644.915%2c26.532%2c629.563%2c0.235C614.386%2c-25.762%2c594.227%2c-53.507%2c564.131%2c-52.85C534.682%2c-52.207%2c516.4%2c-23.477%2c503.467%2c2.988C492.369%2c25.697%2c490.809%2c51.199%2c502.273%2c73.726C515.006%2c98.746%2c536.133%2c120.119%2c564.131%2c122.188' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1294'%3e%3crect width='600' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");
}
.latest_topic {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest_topic p {
    color: var(--first-color);
    font-size: 1.1em;
}

.boxTopic {
    margin: 20px 0;
    width: 90%;
    min-height: 110px;
    border-radius: 8px;
    background-color: var(--bg-border);
    display: flex;
    position: relative;
}

.boxTopic a {
    color: var(--first-color);
    text-decoration: none;
}

.img_avatarList {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.img_avatarList img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.list_titleTopic {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleTopicList p {
    font-weight: var(--Bold);
    font-size: 1.3em;
}

.list_infoTopic p {
    font-weight: var(--Light);
}

.list_nbPost {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
}

.list_nbPost i {
    padding-right: 10px;
    color: var(--first-color);
}

.yellow {
    color: var(--first-color-yellow);
}

.yellow a {
    color: var(--first-color-yellow);
    text-decoration: none;
}

.yellow a:hover {
    text-decoration: underline;
}

.title_popularTopic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 15px;
}

.title_popularTopic h1 {
    font-size: 2.1em;
    color: var(--first-color);
    padding: 20px 0;
    font-weight: var(--Bold);
}

.boxCateg {
    margin: 20px 0;
    width: 90%;
    height: 65px;
    border-radius: 40px 8px 8px 40px;
    background-color: var(--bg-border);
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: relative;
}

.boxCateg a {
    color: var(--first-color);
    text-decoration: none;
}

.img_CategList {
    margin-top: 3px;
    display: flex;
    align-items: center;
}

.img_CategList a {
    display: flex;
    align-items: center;
}

.img_CategList img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.list_titleCateg {
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleCategList p {
    font-weight: var(--Bold);
    font-size: 1.3em;
}

.list_nbPost_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5px;
}

.viewAll {
    display: flex;
    justify-content: end;
    padding: 0 10px;
    padding-bottom: 30px;
}

.viewAll a {
    color: var(--first-color);
    text-decoration: underline;
}

.contact {
    background-image: url('../img/carrecontact.webp');
}

.list_Category {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='2000' preserveAspectRatio='none' viewBox='0 0 600 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1294%26quot%3b)' fill='none'%3e%3crect width='600' height='2000' x='0' y='0' fill='rgba(38%2c 8%2c 52%2c 1)'%3e%3c/rect%3e%3cpath d='M404.189%2c530.211C468.7%2c530.787%2c533.103%2c499.25%2c561.323%2c441.236C587.075%2c388.295%2c558.208%2c329.446%2c525.737%2c280.339C497.412%2c237.502%2c455.477%2c206.223%2c404.189%2c203.599C347.708%2c200.71%2c289.783%2c219.246%2c259.007%2c266.694C225.581%2c318.227%2c222.203%2c384.673%2c251.843%2c438.472C282.502%2c494.12%2c340.657%2c529.644%2c404.189%2c530.211' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M235.902%2c1615.391C259.23%2c1617.084%2c285.023%2c1611.08%2c296.544%2c1590.725C307.953%2c1570.568%2c298.829%2c1546.08%2c286.079%2c1526.743C274.78%2c1509.606%2c256.421%2c1499.331%2c235.902%2c1498.75C214.211%2c1498.136%2c191.146%2c1504.819%2c180.548%2c1523.755C170.128%2c1542.374%2c177.772%2c1564.641%2c188.804%2c1582.905C199.373%2c1600.402%2c215.515%2c1613.911%2c235.902%2c1615.391' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M452.95%2c1155.234C473.666%2c1156.18%2c495.445%2c1151.023%2c506.859%2c1133.709C519.348%2c1114.764%2c520.491%2c1089.791%2c508.989%2c1070.231C497.628%2c1050.911%2c475.332%2c1040.856%2c452.95%2c1042.029C432.423%2c1043.105%2c415.835%2c1057.439%2c406.236%2c1075.615C397.304%2c1092.528%2c397.265%2c1112.649%2c406.944%2c1129.146C416.506%2c1145.443%2c434.075%2c1154.372%2c452.95%2c1155.234' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M283.835%2c1409.823C313.931%2c1410.346%2c347.249%2c1407.615%2c363.447%2c1382.244C380.567%2c1355.428%2c375.878%2c1319.796%2c358.195%2c1293.348C342.26%2c1269.513%2c312.444%2c1261.286%2c283.835%2c1263.167C258.584%2c1264.827%2c238.382%2c1280.852%2c224.68%2c1302.127C209.392%2c1325.865%2c195.278%2c1354.812%2c208.871%2c1379.56C222.776%2c1404.875%2c254.957%2c1409.322%2c283.835%2c1409.823' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M579.195%2c1386.757C610.452%2c1387.974%2c643.422%2c1376.078%2c657.871%2c1348.334C671.58%2c1322.01%2c656.769%2c1292.392%2c641.637%2c1266.859C626.919%2c1242.026%2c608.005%2c1217.394%2c579.195%2c1215.58C547.616%2c1213.592%2c516.526%2c1230.205%2c501.467%2c1258.034C487.008%2c1284.754%2c494.757%2c1316.586%2c510.461%2c1342.593C525.548%2c1367.579%2c550.029%2c1385.621%2c579.195%2c1386.757' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M203.856%2c1106.79C235.109%2c1104.985%2c260.077%2c1082.551%2c274.283%2c1054.655C287.153%2c1029.382%2c284.873%2c999.967%2c270.793%2c975.348C256.601%2c950.533%2c232.414%2c932.793%2c203.856%2c931.51C172.921%2c930.121%2c142.523%2c942.879%2c125.625%2c968.828C107.067%2c997.326%2c101.001%2c1034.109%2c117.776%2c1063.692C134.741%2c1093.61%2c169.52%2c1108.773%2c203.856%2c1106.79' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M231.785%2c857.991C250.027%2c857.79%2c266.816%2c848.426%2c276.185%2c832.773C285.823%2c816.67%2c287.194%2c796.809%2c278.294%2c780.287C268.923%2c762.889%2c251.509%2c749.143%2c231.785%2c750.346C213.444%2c751.465%2c203.058%2c769.339%2c194.167%2c785.42C185.68%2c800.769%2c177.587%2c818.199%2c185.659%2c833.77C194.225%2c850.295%2c213.173%2c858.196%2c231.785%2c857.991' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M362.93%2c322.69C389.122%2c323.445%2c410.903%2c304.819%2c424.054%2c282.155C437.261%2c259.393%2c442.415%2c231.361%2c429.091%2c208.667C415.904%2c186.206%2c388.923%2c176.379%2c362.93%2c178.045C339.643%2c179.537%2c321.218%2c195.844%2c309.988%2c216.299C299.234%2c235.887%2c297.661%2c258.794%2c307.616%2c278.8C318.855%2c301.385%2c337.713%2c321.964%2c362.93%2c322.69' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M590.654%2c2138.119C633.963%2c2137.918%2c679.103%2c2128.701%2c702.997%2c2092.579C729.251%2c2052.889%2c734.158%2c1999.775%2c708.804%2c1959.504C684.714%2c1921.241%2c635.839%2c1912.5%2c590.654%2c1914.14C548.853%2c1915.657%2c508.926%2c1932.277%2c486.477%2c1967.571C462.23%2c2005.692%2c452.935%2c2055.078%2c476.486%2c2093.633C499.305%2c2130.99%2c546.879%2c2138.323%2c590.654%2c2138.119' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M234.147%2c2074.621C286.703%2c2074.913%2c345.92%2c2072.721%2c373.711%2c2028.113C402.577%2c1981.779%2c385.309%2c1923.297%2c357.8%2c1876.145C330.554%2c1829.443%2c288.186%2c1790.694%2c234.147%2c1788.887C177.194%2c1786.982%2c123.728%2c1817.985%2c95.287%2c1867.365C66.896%2c1916.658%2c65.583%2c1979.318%2c97.246%2c2026.576C126.098%2c2069.639%2c182.313%2c2074.333%2c234.147%2c2074.621' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M467.156%2c2040.429C505.841%2c2039.553%2c543.463%2c2025.332%2c564.434%2c1992.812C587.298%2c1957.356%2c595.555%2c1911.224%2c573.773%2c1875.093C552.523%2c1839.845%2c508.313%2c1831.143%2c467.156%2c1831.455C426.686%2c1831.762%2c384.971%2c1842.508%2c363.299%2c1876.687C340.204%2c1913.11%2c338.839%2c1960.975%2c361.939%2c1997.395C383.692%2c2031.691%2c426.553%2c2041.348%2c467.156%2c2040.429' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M221.116%2c1902.914C244.327%2c1902.663%2c264.257%2c1888.098%2c275.931%2c1868.035C287.682%2c1847.841%2c290.622%2c1823.229%2c279.411%2c1802.73C267.762%2c1781.429%2c245.374%2c1766.813%2c221.116%2c1767.806C198.235%2c1768.743%2c181.747%2c1787.216%2c170.542%2c1807.188C159.638%2c1826.623%2c153.797%2c1849.539%2c164.207%2c1869.243C175.243%2c1890.131%2c197.493%2c1903.169%2c221.116%2c1902.914' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M512.437%2c1064.88C571.631%2c1064.115%2c633.16%2c1048.638%2c664.122%2c998.181C696.316%2c945.716%2c691.233%2c878.43%2c659.046%2c825.961C628.278%2c775.804%2c571.275%2c750.241%2c512.437%2c750.914C454.842%2c751.573%2c402.275%2c780.545%2c371.527%2c829.251C338.372%2c881.77%2c321.93%2c948.886%2c353.807%2c1002.191C385.083%2c1054.491%2c451.504%2c1065.667%2c512.437%2c1064.88' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M162.754%2c1282.668C186.152%2c1282.124%2c207.626%2c1269.849%2c219.272%2c1249.548C230.861%2c1229.345%2c230.482%2c1204.705%2c219.151%2c1184.356C207.493%2c1163.421%2c186.691%2c1149.149%2c162.754%2c1148.054C136.743%2c1146.864%2c109.847%2c1156.306%2c96.653%2c1178.754C83.312%2c1201.452%2c87.359%2c1230.073%2c101.49%2c1252.288C114.603%2c1272.902%2c138.33%2c1283.236%2c162.754%2c1282.668' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M533.09%2c862.477C557.453%2c860.956%2c578.68%2c846.602%2c590.313%2c825.142C601.4%2c804.69%2c599.45%2c780.634%2c588.615%2c760.047C576.865%2c737.722%2c558.317%2c716.634%2c533.09%2c716.419C507.599%2c716.201%2c489.158%2c737.313%2c475.897%2c759.085C461.891%2c782.08%2c448.955%2c809.594%2c461.988%2c833.155C475.288%2c857.199%2c505.666%2c864.189%2c533.09%2c862.477' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M631.648%2c1927.24C682.108%2c1928.945%2c739.879%2c1926.799%2c766.075%2c1883.637C792.87%2c1839.487%2c772.358%2c1784.381%2c744.898%2c1740.641C719.494%2c1700.175%2c679.4%2c1671.128%2c631.648%2c1669.512C580.918%2c1667.796%2c529.822%2c1688.625%2c504.3%2c1732.501C478.654%2c1776.59%2c484.169%2c1832.367%2c512.085%2c1875.056C537.593%2c1914.063%2c585.068%2c1925.666%2c631.648%2c1927.24' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M564.131%2c122.188C595.689%2c124.52%2c629.186%2c112.094%2c644.147%2c84.21C658.543%2c57.378%2c644.915%2c26.532%2c629.563%2c0.235C614.386%2c-25.762%2c594.227%2c-53.507%2c564.131%2c-52.85C534.682%2c-52.207%2c516.4%2c-23.477%2c503.467%2c2.988C492.369%2c25.697%2c490.809%2c51.199%2c502.273%2c73.726C515.006%2c98.746%2c536.133%2c120.119%2c564.131%2c122.188' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1294'%3e%3crect width='600' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

}

/* ******************************
        FORM ADD TOPIC
   ****************************** */

.form_newTopic {
    display: flex;
    flex-direction: column;
}

.button_listTopic {
    padding-top: 15px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* ******************************
        SHOW BOX
   ****************************** */

.show_boxPost,
.show_boxPostAvatar,
.show_boxPostPassword,
.boxAddTopic,
.returnCategory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.show_boxPost p,
.show_boxPostAvatar p,
.show_boxPostPassword p,
.boxAddTopic p {
    color: var(--first-color);
    background-color: var(--bg-border);
    padding: 10px 50px;
    border-radius: 50px;
    border: solid 2px var(--second-color-yellow);
    -webkit-box-shadow: 5px 5px 0px 0px var(--bg-border); 
    box-shadow: 5px 5px 0px 0px var(--second-color-yellow);
    cursor: pointer;
    transition: all 0.5s;
}

.returnCategory p {
    color: var(--first-color);
    background-color: var(--bg-border);
    padding: 10px 50px;
    border-radius: 50px;
    border: solid 2px var(--second-color-rose);
    -webkit-box-shadow: 5px 5px 0px 0px var(--bg-border); 
    box-shadow: 5px 5px 0px 0px var(--second-color-rose);
    cursor: pointer;
    transition: all 0.5s;
}

.boxAddTopic a,
.returnCategory a {
    text-decoration: none;
}

.boxPost {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.active.show_boxPost p,
.active.show_boxPostAvatar p,
.active.show_boxPostPassword p {
    box-shadow: none;
    transform: translate(5px, 5px);
}

/* ******************************
        PROFIL
   ****************************** */

.display_profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display_profil img {
    width: max-content;
    height: 200px;
    border-radius: 14px;
}

.display_profil a {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.show_editAvatar {
    display: none;
}

.form_editAvatar {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 15px;
}

.show_editPassword {
    display: none;
}

.form_editPassword form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 15px;
}

/* ******************************
        DETAIL TOPIC
   ****************************** */

.wrapper_detail {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='600' height='2000' preserveAspectRatio='none' viewBox='0 0 600 2000'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1294%26quot%3b)' fill='none'%3e%3crect width='600' height='2000' x='0' y='0' fill='rgba(38%2c 8%2c 52%2c 1)'%3e%3c/rect%3e%3cpath d='M404.189%2c530.211C468.7%2c530.787%2c533.103%2c499.25%2c561.323%2c441.236C587.075%2c388.295%2c558.208%2c329.446%2c525.737%2c280.339C497.412%2c237.502%2c455.477%2c206.223%2c404.189%2c203.599C347.708%2c200.71%2c289.783%2c219.246%2c259.007%2c266.694C225.581%2c318.227%2c222.203%2c384.673%2c251.843%2c438.472C282.502%2c494.12%2c340.657%2c529.644%2c404.189%2c530.211' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M235.902%2c1615.391C259.23%2c1617.084%2c285.023%2c1611.08%2c296.544%2c1590.725C307.953%2c1570.568%2c298.829%2c1546.08%2c286.079%2c1526.743C274.78%2c1509.606%2c256.421%2c1499.331%2c235.902%2c1498.75C214.211%2c1498.136%2c191.146%2c1504.819%2c180.548%2c1523.755C170.128%2c1542.374%2c177.772%2c1564.641%2c188.804%2c1582.905C199.373%2c1600.402%2c215.515%2c1613.911%2c235.902%2c1615.391' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M452.95%2c1155.234C473.666%2c1156.18%2c495.445%2c1151.023%2c506.859%2c1133.709C519.348%2c1114.764%2c520.491%2c1089.791%2c508.989%2c1070.231C497.628%2c1050.911%2c475.332%2c1040.856%2c452.95%2c1042.029C432.423%2c1043.105%2c415.835%2c1057.439%2c406.236%2c1075.615C397.304%2c1092.528%2c397.265%2c1112.649%2c406.944%2c1129.146C416.506%2c1145.443%2c434.075%2c1154.372%2c452.95%2c1155.234' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M283.835%2c1409.823C313.931%2c1410.346%2c347.249%2c1407.615%2c363.447%2c1382.244C380.567%2c1355.428%2c375.878%2c1319.796%2c358.195%2c1293.348C342.26%2c1269.513%2c312.444%2c1261.286%2c283.835%2c1263.167C258.584%2c1264.827%2c238.382%2c1280.852%2c224.68%2c1302.127C209.392%2c1325.865%2c195.278%2c1354.812%2c208.871%2c1379.56C222.776%2c1404.875%2c254.957%2c1409.322%2c283.835%2c1409.823' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M579.195%2c1386.757C610.452%2c1387.974%2c643.422%2c1376.078%2c657.871%2c1348.334C671.58%2c1322.01%2c656.769%2c1292.392%2c641.637%2c1266.859C626.919%2c1242.026%2c608.005%2c1217.394%2c579.195%2c1215.58C547.616%2c1213.592%2c516.526%2c1230.205%2c501.467%2c1258.034C487.008%2c1284.754%2c494.757%2c1316.586%2c510.461%2c1342.593C525.548%2c1367.579%2c550.029%2c1385.621%2c579.195%2c1386.757' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M203.856%2c1106.79C235.109%2c1104.985%2c260.077%2c1082.551%2c274.283%2c1054.655C287.153%2c1029.382%2c284.873%2c999.967%2c270.793%2c975.348C256.601%2c950.533%2c232.414%2c932.793%2c203.856%2c931.51C172.921%2c930.121%2c142.523%2c942.879%2c125.625%2c968.828C107.067%2c997.326%2c101.001%2c1034.109%2c117.776%2c1063.692C134.741%2c1093.61%2c169.52%2c1108.773%2c203.856%2c1106.79' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M231.785%2c857.991C250.027%2c857.79%2c266.816%2c848.426%2c276.185%2c832.773C285.823%2c816.67%2c287.194%2c796.809%2c278.294%2c780.287C268.923%2c762.889%2c251.509%2c749.143%2c231.785%2c750.346C213.444%2c751.465%2c203.058%2c769.339%2c194.167%2c785.42C185.68%2c800.769%2c177.587%2c818.199%2c185.659%2c833.77C194.225%2c850.295%2c213.173%2c858.196%2c231.785%2c857.991' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M362.93%2c322.69C389.122%2c323.445%2c410.903%2c304.819%2c424.054%2c282.155C437.261%2c259.393%2c442.415%2c231.361%2c429.091%2c208.667C415.904%2c186.206%2c388.923%2c176.379%2c362.93%2c178.045C339.643%2c179.537%2c321.218%2c195.844%2c309.988%2c216.299C299.234%2c235.887%2c297.661%2c258.794%2c307.616%2c278.8C318.855%2c301.385%2c337.713%2c321.964%2c362.93%2c322.69' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M590.654%2c2138.119C633.963%2c2137.918%2c679.103%2c2128.701%2c702.997%2c2092.579C729.251%2c2052.889%2c734.158%2c1999.775%2c708.804%2c1959.504C684.714%2c1921.241%2c635.839%2c1912.5%2c590.654%2c1914.14C548.853%2c1915.657%2c508.926%2c1932.277%2c486.477%2c1967.571C462.23%2c2005.692%2c452.935%2c2055.078%2c476.486%2c2093.633C499.305%2c2130.99%2c546.879%2c2138.323%2c590.654%2c2138.119' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M234.147%2c2074.621C286.703%2c2074.913%2c345.92%2c2072.721%2c373.711%2c2028.113C402.577%2c1981.779%2c385.309%2c1923.297%2c357.8%2c1876.145C330.554%2c1829.443%2c288.186%2c1790.694%2c234.147%2c1788.887C177.194%2c1786.982%2c123.728%2c1817.985%2c95.287%2c1867.365C66.896%2c1916.658%2c65.583%2c1979.318%2c97.246%2c2026.576C126.098%2c2069.639%2c182.313%2c2074.333%2c234.147%2c2074.621' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M467.156%2c2040.429C505.841%2c2039.553%2c543.463%2c2025.332%2c564.434%2c1992.812C587.298%2c1957.356%2c595.555%2c1911.224%2c573.773%2c1875.093C552.523%2c1839.845%2c508.313%2c1831.143%2c467.156%2c1831.455C426.686%2c1831.762%2c384.971%2c1842.508%2c363.299%2c1876.687C340.204%2c1913.11%2c338.839%2c1960.975%2c361.939%2c1997.395C383.692%2c2031.691%2c426.553%2c2041.348%2c467.156%2c2040.429' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M221.116%2c1902.914C244.327%2c1902.663%2c264.257%2c1888.098%2c275.931%2c1868.035C287.682%2c1847.841%2c290.622%2c1823.229%2c279.411%2c1802.73C267.762%2c1781.429%2c245.374%2c1766.813%2c221.116%2c1767.806C198.235%2c1768.743%2c181.747%2c1787.216%2c170.542%2c1807.188C159.638%2c1826.623%2c153.797%2c1849.539%2c164.207%2c1869.243C175.243%2c1890.131%2c197.493%2c1903.169%2c221.116%2c1902.914' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M512.437%2c1064.88C571.631%2c1064.115%2c633.16%2c1048.638%2c664.122%2c998.181C696.316%2c945.716%2c691.233%2c878.43%2c659.046%2c825.961C628.278%2c775.804%2c571.275%2c750.241%2c512.437%2c750.914C454.842%2c751.573%2c402.275%2c780.545%2c371.527%2c829.251C338.372%2c881.77%2c321.93%2c948.886%2c353.807%2c1002.191C385.083%2c1054.491%2c451.504%2c1065.667%2c512.437%2c1064.88' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M162.754%2c1282.668C186.152%2c1282.124%2c207.626%2c1269.849%2c219.272%2c1249.548C230.861%2c1229.345%2c230.482%2c1204.705%2c219.151%2c1184.356C207.493%2c1163.421%2c186.691%2c1149.149%2c162.754%2c1148.054C136.743%2c1146.864%2c109.847%2c1156.306%2c96.653%2c1178.754C83.312%2c1201.452%2c87.359%2c1230.073%2c101.49%2c1252.288C114.603%2c1272.902%2c138.33%2c1283.236%2c162.754%2c1282.668' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M533.09%2c862.477C557.453%2c860.956%2c578.68%2c846.602%2c590.313%2c825.142C601.4%2c804.69%2c599.45%2c780.634%2c588.615%2c760.047C576.865%2c737.722%2c558.317%2c716.634%2c533.09%2c716.419C507.599%2c716.201%2c489.158%2c737.313%2c475.897%2c759.085C461.891%2c782.08%2c448.955%2c809.594%2c461.988%2c833.155C475.288%2c857.199%2c505.666%2c864.189%2c533.09%2c862.477' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M631.648%2c1927.24C682.108%2c1928.945%2c739.879%2c1926.799%2c766.075%2c1883.637C792.87%2c1839.487%2c772.358%2c1784.381%2c744.898%2c1740.641C719.494%2c1700.175%2c679.4%2c1671.128%2c631.648%2c1669.512C580.918%2c1667.796%2c529.822%2c1688.625%2c504.3%2c1732.501C478.654%2c1776.59%2c484.169%2c1832.367%2c512.085%2c1875.056C537.593%2c1914.063%2c585.068%2c1925.666%2c631.648%2c1927.24' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M564.131%2c122.188C595.689%2c124.52%2c629.186%2c112.094%2c644.147%2c84.21C658.543%2c57.378%2c644.915%2c26.532%2c629.563%2c0.235C614.386%2c-25.762%2c594.227%2c-53.507%2c564.131%2c-52.85C534.682%2c-52.207%2c516.4%2c-23.477%2c503.467%2c2.988C492.369%2c25.697%2c490.809%2c51.199%2c502.273%2c73.726C515.006%2c98.746%2c536.133%2c120.119%2c564.131%2c122.188' fill='rgba(106%2c 69%2c 110%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1294'%3e%3crect width='600' height='2000' fill='white'%3e%3c/rect%3e%3c/mask%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

    color: #fff;
}

.titleTopic {
    display: flex;
    align-items: center;
}

.green {
    padding: 0 25px;
    color: green;
}

.red {
    padding: 0 25px;
    color: red;
}

.lockTopic {
    display: flex;
    align-items: center;
}

.information_topTopic {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px; 
}

.created_By {
    display: flex;
    flex-direction: column;
    text-align: center;
    line-height: 1.5em;
}

.created_By a {
    text-decoration: none;
    color: var(--first-color);
}

.created_By img {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    object-fit: cover;
}

.data_topic {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.data_topic p {
    padding: 20px 0;
}

.rose_colorNoUnderligne {
    color: var(--second-color-rose);
    font-weight: 700;
}

#content_post {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.content_post {
    width: 90%;
    border-radius: 8px;
    background-color: var(--bg-border);
}

.post_picture {
    display: flex;
    justify-content: space-between;
}

.post_picture img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
    margin: 10px 15px;
}

.post_NameHours {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 15px;
}

.post_NameHours a {
    text-decoration: none;
}

.timePost {
    font-weight: 200;
}

.post_User {
    margin-left: 75px;
}

.content_post h4 {
    padding-left: 75px;
    padding-right: 20px;
    text-align: inherit;
    font-weight: 400;
}

.function_post {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

.deleteOrEdit {
    display: flex;
    align-items: center;
    gap: 15px;
}

.seperator {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.next_post {
    text-align: center;
    width: 40%;
    border: solid 3px var(--second-color-rose);
    border-radius: 15px;
}

#post {
    resize: none;
    width: 90%;
    height: 300px;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: #d3d1d1d5;
}

.button_addPost {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.button__addPost {
    width: 150px;
    height: 30px;
    color: var(--first-color);
    background-color: transparent;
    border: solid 1px var(--first-color);
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: var(--Medium);
    margin: 15px 15px;
}

.deleteEditAdmin {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 5px;
    padding-left: 30px;
}

/* ******************************
        UPDATE POST / TOPIC
   ****************************** */
.update_Post {
    text-align: center;
}

.update_Post #post {
    width: 90%;
    resize: none;
}

.post_beforeUpdate {
    padding: 15px 15px;
}

.topic_beforeUpdate {
    padding: 0 15px;
}

.post_beforeUpdate p,
.topic_beforeUpdate p {
    padding: 15px 0;
    font-style: italic;
}



/* ******************************
        FOOTER
   ****************************** */

footer {
    background-color: var(--bg-header-footer);
    width: 100%;
    height: 70px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer p {
    color: var(--first-color);
    font-size: 0.6em;
}

.link_yellow {
    color: var(--first-color-yellow);
    text-decoration: underline;
}

}