@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;;
}


/* ******************************
        Variable CSS
   ****************************** */

:root {

    --first-color: hsl(0, 0%, 100%);
    --first-color-rose: hsl(306, 59%, 63%);
    --second-color-rose: hsl(306, 58%, 69%);
    --first-color-yellow: hsl(47, 100%, 49%);
    --second-color-yellow: hsl(47, 100%, 52%);
    --bg-border: hsl(291, 16%, 31%);
    --bg-header-footer: hsl(269, 89%, 10%);
    --bg-navBar: hsl(269, 92%, 10%, 0.75);
    --bg-form: hsl(291, 61%, 13%);
    --bg-card: rgba(222, 60, 236, 0.19);

    --ExtraLight: 200;
    --Light: 300;
    --Regular: 400;
    --Medium: 500;
    --SemiBold: 600;
    --Bold: 700;
    --ExtraBold: 800;
    --Black: 900;

    --title-size: 2.3em;

}

@media only screen and (min-width: 320px) {

    h1 {
        color: rgb(0, 122, 156);
    }


/* ******************************
        NAV BAR
   ****************************** */


.nav_mobile {
    background-color: var(--bg-header-footer);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.nav_title a {
    display: flex;
    align-items: end;
    gap: 5px;
    text-decoration: none;
}

nav h1 {
    color: var(--first-color);
    font-weight: 300;
}

.nav_avatar {
    height: 50px;
    width: 50px;
    border-radius: 14px;
    object-fit: cover;
    color: var(--first-color);
}

.avatar_user a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav_burger {
    display: flex;
    flex-direction: column;
    width: 30px;
}

.nav_liste {
    position: absolute;
    left: -100%;
    top: 0px;
    height: 100vh;
    width: 75%;
    background-color: var(--bg-navBar);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: 0.5s;
}

.nav_liste li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 36px;
    font-weight: bold;
    z-index: 1;
}

.nav_liste li a {
    color: var(--first-color);
    text-decoration: none;
}


#icons {
    display: block;
    font-size: 2em;
    font-weight: bold;
    z-index: 5;
    cursor: pointer;
}
#icons:before {
    content: "\2630";
    color: var(--first-color);
    font-size: 1em;
}

.nav_burger.active .nav_liste{
    left: 0;
    z-index: 2;
}

.nav_burger.active #icons:before {
    content: "\2715";
}

.nav_logo {
    height: 20vh;
    width: 40vw;
}

.img_topMobile img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ******************************
        Login
   ****************************** */

.session_info {
    padding-top: 10px;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box_session {
    display: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: var(--first-color);
    transition: 0.5s;
}

.session_success {
    display: block;
    background: rgb(132,255,130);
    background: linear-gradient(90deg, rgba(132, 255, 130, 0.685) 0%, rgba(25,69,24,1) 50%);
}

.session_error {
    display: block;
    background: rgb(255,3,3);
    background: linear-gradient(90deg, rgba(255,3,3,1) 0%, rgba(65,13,13,1) 50%);
}


.login_User {
    
    background-image: url('../img/bg_section.webp');
    
}

.box_Card {
    padding: 10px 0px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_Login {
    width: 90%;
    background-color: var(--bg-card);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_Login h1 {
    color: var(--first-color);
    padding: 70px 0px 20px 0;
    font-weight: var(--Regular);
    font-size: var(--title-size);
}

.input-group{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 40px 0;
}

.input-group label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--first-color);
    pointer-events: none; /*pas de surlignage possible */
    transition: .5s;
}

.input-group i {
    color: var(--first-color);
    position: absolute;
    right: 20px;
    top: 30%;
}

.input-group input{
    width: 95%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: var(--bg-border);
    border-radius: 14px;
    border: none;
    outline: none;

}

.input-group input:focus~label,
.input-group input:valid~label{ /*permettra un déplacement du champ vers le haut*/
    top: -10px;

}

.button_submit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.forgot_password {
    color: var(--first-color);
    text-decoration: underline;
}

.button_submit p {
    padding-bottom: 40px;
}

.button__submit {
    width: 250px;
    height: 50px;
    color: var(--first-color);
    background-color: transparent;
    border: solid 1px var(--first-color);
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: var(--Medium);
}

.social_media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_media a {
    color: var(--first-color);
    font-size: 3em;
    padding: 20px 20px;
}

.no_account {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 25px;
}

.no_account p {
    color: var(--first-color);
    font-size: 1em;
    line-height: 20px;
}

.rose_color {
    color: var(--first-color-rose);
    text-decoration: underline;
}

.info_contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.info_contact p {
    color: var(--first-color);
    text-align: center;
    font-size: 1.3em;
    font-weight: var(--Bold);
    line-height: 30px;
    padding: 20px 0;
}


/* ******************************
        Register
   ****************************** */
.box_Card {
    padding: 10px 0px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_register {
    width: 90%;
    background-color: var(--bg-card);
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_register h1 {
    color: var(--first-color);
    padding: 70px 0px 20px 0;
    font-weight: var(--Regular);
    font-size: var(--title-size);
}

.register_input{
    display: flex;
    justify-content: center;
    position: relative;
    margin: 30px 0;
}

.register_input label{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    font-size: 16px;
    color: var(--first-color);
    pointer-events: none; /*pas de surlignage possible */
    transition: .5s;
}

.register_input i {
    color: var(--first-color);
    position: absolute;
    right: 20px;
    top: 30%;
}

.register_input input{
    width: 95%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: var(--bg-border);
    border-radius: 14px;
    border: none;
    outline: none;

}

.register_file {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--first-color);
    padding-bottom: 25px;
}

.register_input input:focus~label,
.register_input input:valid~label{ /*permettra un déplacement du champ vers le haut*/
    top: -10px;
}

.white {
    color: var(--first-color);
}

/* ******************************
            HOME
   ****************************** */

.searchBar form {
    padding: 20px 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar input::placeholder {
    font-weight: var(--ExtraLight);
    opacity: 1;
    color: var(--first-color);
  }

.research {
    padding: 0 15px;
    height: 35px;
    width: 70%;
    border-radius: 25px;
    background-color: var(--bg-border);
    border: none;
    color: #fff;
}

.searchBar button {
    font-size: 1em;
    background: none;
    border: none;
}

.fa-mobile {
    position: relative;
}

.fa-mobile i {
    position: absolute;
    top: -8px;
    right: 10px;
    color: var(--first-color);
}

.fa-mobile:before {
    display: none;
}

.fire_stat {
    background-color: aqua;
    padding: 0 3px 0 15px;
    background-image: linear-gradient(to bottom, #6c35b7, #6130a4, #562a92, #4b2580, #41206f, #391d61, #311953, #291645, #211336, #1a1028, #13091a, #050209);
}

.best_stat {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.best_stat i {
    font-size: 1.5em;
    padding: 0 10px 0 0;
    color: var(--second-color-yellow);
}

.best_stat p {
    font-size: 1.1em;
    font-weight: var(--Regular);
    color: var(--first-color);
    font-family: "Inter", sans-serif;
}

.fire_stat h1 {
    font-size: 2.1em;
    color: var(--first-color);
    padding: 20px 0;
    font-weight: var(--Bold);
}

.after_title {
    width: 20%;
    border: var(--second-color-yellow) 3px solid;
    margin-left: 10px;
    border-radius: 7px;
}

.after_titlePink {
    width: 20%;
    border: var(--second-color-rose) 3px solid;
    margin-left: 10px;
    border-radius: 7px;
}

.wrapper_list {
    background-image: url('../img/bg_section.webp');
}

.latest_topic {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest_topic p {
    color: var(--first-color);
    font-size: 1.1em;
}

.boxTopic {
    margin: 20px 0;
    width: 90%;
    min-height: 110px;
    border-radius: 8px;
    background-color: var(--bg-border);
    display: flex;
    position: relative;
}

.boxTopic a {
    color: var(--first-color);
    text-decoration: none;
}

.img_avatarList {
    padding: 0 10px;
    display: flex;
    align-items: center;
}

.img_avatarList img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.list_titleTopic {
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleTopicList p {
    font-weight: var(--Bold);
    font-size: 1.3em;
}

.list_infoTopic p {
    font-weight: var(--Light);
}

.list_nbPost {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    padding-right: 5px;
}

.list_nbPost i {
    padding-right: 10px;
    color: var(--first-color);
}

.yellow a {
    color: var(--first-color-yellow);
    text-decoration: none;
}

.yellow a:hover {
    text-decoration: underline;
}

.title_popularTopic {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 5px 15px;
}

.title_popularTopic h1 {
    font-size: 2.1em;
    color: var(--first-color);
    padding: 20px 0;
    font-weight: var(--Bold);
}

.boxCateg {
    margin: 20px 0;
    width: 90%;
    height: 65px;
    border-radius: 40px 8px 8px 40px;
    background-color: var(--bg-border);
    display: flex;
    align-items: center;
    padding-right: 10px;
    position: relative;
}

.boxCateg a {
    color: var(--first-color);
    text-decoration: none;
}

.img_CategList {
    margin-top: 3px;
    display: flex;
    align-items: center;
}

.img_CategList a {
    display: flex;
    align-items: center;
}

.img_CategList img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

.list_titleCateg {
    padding: 5px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titleCategList p {
    font-weight: var(--Bold);
    font-size: 1.3em;
}

.list_nbPost_ {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 5px;
}

.viewAll {
    display: flex;
    justify-content: end;
    padding: 0 10px;
    padding-bottom: 30px;
}

.viewAll a {
    color: var(--first-color);
    text-decoration: underline;
}

.contact {
    background-image: url('../img/carrecontact.webp');
}

/* ******************************
        List CATEGORY
   ****************************** */

.img_category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img_category img {
    height: 100px;
    width: 100px;
}

/* ******************************
        FORM ADD TOPIC
   ****************************** */

.form_newTopic {
    display: flex;
    flex-direction: column;
}

/* ******************************
        SHOW BOX
   ****************************** */

.show_boxPost,
.show_boxPostAvatar,
.show_boxPostPassword {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.show_boxPost p,
.show_boxPostAvatar p,
.show_boxPostPassword p {
    color: var(--first-color);
    background-color: var(--bg-border);
    padding: 10px 50px;
    border-radius: 50px;
    border: solid 2px var(--second-color-yellow);
    -webkit-box-shadow: 5px 5px 0px 0px var(--bg-border); 
    box-shadow: 5px 5px 0px 0px var(--second-color-yellow);
    cursor: pointer;
    transition: all 0.5s;
}

.boxPost {
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.active.show_boxPost p,
.active.show_boxPostAvatar p,
.active.show_boxPostPassword p {
    box-shadow: none;
    transform: translate(5px, 5px);
}

/* ******************************
        PROFIL
   ****************************** */

.display_profil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.display_profil img {
    width: max-content;
    height: 200px;
    border-radius: 14px;
}

.display_profil a {
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.show_editAvatar {
    display: none;
}

.form_editAvatar {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 15px;
}

.show_editPassword {
    display: none;
}

.form_editPassword form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center;
padding: 15px;
}

/* ******************************
        DETAIL TOPIC
   ****************************** */

.titleTopic {
    display: flex;
    align-items: center;
}

.green {
    padding: 0 25px;
    color: green;
}

.red {
    padding: 0 25px;
    color: red;
}

/* ******************************
        FOOTER
   ****************************** */

footer {
    background-color: var(--bg-header-footer);
    width: 100%;
    height: 70px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: end;
}

footer p {
    color: var(--first-color);
    font-size: 0.6em;
}

.link_yellow {
    color: var(--first-color-yellow);
    text-decoration: underline;
}

}