@media only screen and (min-width: 320px) {


/* ******************************
        UPDATE POST 
   ****************************** */


.wrapper_update {
    background-image: var(--bg-page);
    color: #fff;
}

.returnTopicButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
}

.returnTopicButton p {
    color: var(--first-color);
    background-color: var(--bg-border);
    padding: 10px 50px;
    border-radius: 50px;
    border: solid 2px var(--second-color-yellow);
    -webkit-box-shadow: 5px 5px 0px 0px var(--bg-border); 
    box-shadow: 5px 5px 0px 0px var(--second-color-yellow);
    cursor: pointer;
    transition: all 0.5s;
}

.returnTopicButton a {
    color: var(--first-color);
    text-decoration: none;
}

.update_Post {
    text-align: center;
}

.update_Post #post {
    width: 90%;
    resize: none;
}

.middle_beforeUpdate {
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic_beforeUpdate,
.post_beforeUpdate {
    padding: 15px 15px;
    background-color: var(--bg-card);
    backdrop-filter: blur(8px);
    width: 90%;
    border-radius: 8px;
}

.post_beforeUpdate p,
.topic_beforeUpdate p {
    padding: 15px 0;
    font-style: italic;
    font-size: 1.2em;
}

#post {
    resize: none;
    width: 90%;
    height: 300px;
    border-radius: 8px;
    padding: 10px 10px;
    background-color: #d3d1d1d5;
}

.button_addPost {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-end;
}

.button__addPost {
    width: 150px;
    height: 30px;
    color: var(--first-color);
    background-color: transparent;
    border: solid 1px var(--first-color);
    border-radius: 5px;
    font-size: 1.3em;
    font-weight: var(--Medium);
    margin: 15px 15px;
}


/* ******************************
        UPDATE TOPIC 
   ****************************** */


.input-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.input-group label{
    padding: 0 25px;
    font-size: 16px;
    color: var(--first-color);
    pointer-events: none; 
    transition: .5s;
}

.input-group i {
    color: var(--first-color);
    position: absolute;
    right: 20px;
    top: 30%;
}

.input-group input{
    width: 95%;
    height: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 5px;
    background: var(--bg-border);
    border-radius: 14px;
    border: none;
    outline: none;

}

.yellow {
    color: var(--first-color-yellow);
}

.yellow a {
    color: var(--first-color-yellow);
    text-decoration: none;
}

.yellow a:hover {
    text-decoration: underline;
}

}